body{
    font-family: 'Montserrat-black', sans-serif;
    text-align: center;  
}

.container{
    padding: 3% 5% 7%;
}

#title{
    background-color: #ff4c68;
    color: white;
    text-align: left;
}
.title{
    margin-left: auto 0;
    padding: 80px 20px 0 30px; 
    position:relative;
    z-index: 1;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
}
.big-heading{
    font-size: 3rem;
}
.navbar{
    background-color:#fa4661;
    box-shadow: 2px 10px 15px #cc465a;
    padding-right: 10%;
}
.navbar-brand{
    padding-right: 30%;
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}
.tindog-logo{
    padding-left: 10%;
}
.nav-item{
    padding: 0 1rem;
}
.ml-auto li{
    font-size: 1.2rem;
    font-family: "Monserrat-light";
}
 
/* Download btn  */
.dnbtn{
    margin: 5% 3% 5% 0;
}
.dnbtn:hover{
    box-shadow: 5px 10px 15px #70686a;
}
.title-img{
    width: 60%;
    margin-left: 30%;
    transform: rotate(20deg);
    position: absolute;   
}
@media(max-width : 991px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
        margin-left: 0;
    }
}

/* Features section  */

#Features{
    padding: 7rem 9rem 7rem 6rem;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.feature-heading{
    font-weight: bold;
}
.features p{
    margin: auto 3rem 3rem;
    color: grey;
}
.features i{
    color: #f7687e;
    padding-bottom: 1rem;
}
.features i:hover{
    color: #fa3251;
}
.fa-check-circle{
    animation: flip 1s infinite alternate;
    animation-delay: 4s;
}
@keyframes flip{
    to{transform: rotateY(180deg);}
}

.fa-bullseye{
    animation: bounce 2s infinite; 
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    } 
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
} 

.fa-heart{
    animation: beat .25s infinite alternate;
}
@keyframes beat{
	to { transform: scale(1.4); }
}

 /* Testimonials section  */
#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testimonial-text{
    font-size: 2rem;
}
.testimonial-img{
    width: 10%;
    border-radius: 50%;
    margin-right: 2rem;
}
.carousel-item{
    padding: 7% 15%;
}

/* Logo section  */
#logo{
    background-color:#ef8172;
    padding-bottom: 2%;
}
.logo{
    width: 11%;   
    margin: 20px 20px 50px ;
}

/* Pricing section  */
#pricing{
    padding: 5% 8%;
}
.pricing-text{
    font-weight: bold;
}
.btn3{
    margin-top: 8%;
}

/* Call to action  */
 #cta{
    background-color: #ff4c68;
    color: white;
    margin-left: auto 0;
    padding: 5% 10%; 
 }
 .cta-heading{
    margin: auto 15%;
 }

 /* footer */
 .footer{
    margin-left: auto 0;
    padding: 5% 10%;
 }
 .f-icon{
     padding-left: 2%;
     padding-bottom: 2%;
 }
